{{>layouts/header}}

<!--content-->
<div class="bg-dark text-white p-5">
    <table>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>이름</th>
        </tr>
        {{#members}}
            <tr>
                <td>{{id}}</td>
                <td>{{userId}}</td>
                <td>{{userName}}</td>
            </tr>
        {{/members}}
    </table>
</div>
{{>layouts/footer}}