<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table id="financeTable" border="1">
        <caption id="financeTableCaption">주식 정보</caption>
        <thead>
            <tr>
                <th scope="col" title="financeTitle">종목명</th>
                <th scope="col" title="now_valTitle">현재 가격</th>
                <th scope="col" title="current_time">시간</th>
            </tr>
        </thead>
        <tbody>
            <script src="finance.js"></script>
        </tbody>
    </table>
</body>
</html>