{{>layouts/header}}

    <!--content-->
    <div class="bg-dark text-white p-5">
        <h1 id="welcome-text"> 임시 index페이지</h1>
        <p>
            <a href="/members/memberList">회원목록</a>
            <a href="/members/new">회원가입</a>
        </p>
    </div>
{{>layouts/footer}}