<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layouts/index_header::index_header"></th:block>

    <div id="content">
        <div align="right">
            <button type="button" id="change-color" onclick="changeBackgroundColor()">Dark Mode</button>
        </div>

        <div class="inner">
            <div align="right" style="margin-top: 20px;">
                <form action="/articles/new">
                    <button type="submit">게시글 등록</button>
                </form>
            </div>


            <!-- 게시물 -->
            <div id="board-table">
                <table>
                    <tr>
                        <th>제목</th>
                        <th>내용</th>
                    </tr>
                    <tr th:each="article : ${articles}">
                        <td th:text="${article.title}"></td>
                        <td th:text="${article.content}"></td>
                    </tr>
                </table>
            </div>

            <!-- 페이징 -->
            <div th:if="${maxPage >= 1}" align="center">
                <a class="page-link" th:if="${page > 1}" th:href="@{/articles/list(page=${page-1})}" th:text="이전"></a>
                <th:block th:each="n : ${#numbers.sequence(startPage,maxPage)}">
                    <a class="page-link" th:if="${n==page}" th:text="${n}"></a>
                    <a class="page-link" th:if="${n!=page}" th:text="${n}" th:href="@{/articles/list(page=${n})}"></a>
                </th:block>
                <a class="page-link" th:if="${page < maxPage}" th:text="다음" th:href="@{/articles/list(page=${page+1})}"></a>
            </div>
        </div>
    </div>
<th:block th:replace="layouts/index_footer::index_footer"></th:block>
</html>