<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layouts/index_header::index_header"></th:block>

<div id="content">
    <div>
        <form class="container" action="/articles/new" method="post">
            <div class="mb-3">
                <label>제목</label>
                <input type="text" name="title">
            </div>

            <div class="mb-3">
                <label>내용</label>
                <textarea rows="20" name="content"></textarea>
            </div>
            <div align="right" style="margin-top: 10px;">
                <button type="submit">등록</button>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="layouts/index_footer::index_footer"></th:block>
</html>